*{
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
}

.drawer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #aaa;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.info {
  width: 25%;
}

.chart {
  width: 50%;
}

.calibration {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div#chart_div {width: 100%;}

.info > div {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

table {
  width: 100%;
  text-align: center;
}