<div class="info">
    <div>
        <div class="item">
            <div class="value">$100</div>
            <div class="title">Gastos</div>
        </div>
        
        <div class="item">
            <div class="value">$86</div>
            <div class="title">Angle</div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Head1</th>
                <th>Head2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data1</td>
                <td>Data2</td>
            </tr>
            <tr>
                <td>Data1</td>
                <td>Data2</td>
            </tr>
            <tr>
                <td>Data1</td>
                <td>Data2</td>
            </tr>
        </tbody>
    </table>
</div>