<div class="info">
    <div>
        <div class="item">
            <div id="ganho_anual" class="value">$100</div>
            <div class="title">Ganho</div>
        </div>
        
        <div class="item">
            <div id="angle_anual" class="value">$86</div>
            <div class="title">Angle</div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Fornecedor</th>
                <th>Variação</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>